@mixin rgba-background-color($color, $alpha) {
  $rgba: rgba($color, $alpha);
  $ie-hex-str: ie-hex-str($rgba);
  background-color: transparent;
  background-color: $rgba;
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#{$ie-hex-str},endColorstr=#{$ie-hex-str});
  zoom: 1;
}

// Generates a valid RGB value for browsers that can't handle RGBA.
@mixin rgba-color($color, $alpha, $bgcolor: #fff) {
  $percent : $alpha * 100;
  $weight: 100 - $percent;
  color: mix($color, $bgcolor, $weight);
  color: rgba($color, $alpha);
}

@mixin horizontal-nav {
  ul {
    list-style:none;
    margin:0;
    padding:0;

    li {
      display:inline;

      &:not(:first-child):before {
        color: $default-color-lighter;
        content: " · ";
        padding: 0 4px;
      }

      a {
        text-decoration:none;
      }
    }
  }
}

@mixin vertical-nav {
  li {
    display:block;

    & + li:before {
      content: "";
      padding:0;
    }
  }

  a {
    display:block;
    text-decoration:none;
  }

}

@mixin button {
  font-family: $alt-font;
  text-align:center;
  text-decoration:none;
  text-shadow: -1px -1px 0 $default-color;
  color: #fff;
  background-color: $base-color;

  @include background-image(
    linear-gradient(
      rgba(255,255,255,0),
      rgba(255,255,255, 0.15)
    )
  );

  @include box-shadow(rgba(white,0.375) 0 1px 0 0 inset);

  border: 1px solid rgba(black,0.15) !important;
  @include border-radius(5px);
}

@mixin clearfix {
  &:before,
  &:after {
    content: "";
    display: table;
    width:100%;
  }

  .ie & {
    *zoom: 1;
  }
}

@mixin beveled-line($placement: before) {
  &:#{$placement} {
    display:block;
    content:"";
    height:0;
    border-top: 1px solid $default-color-lightest;
    border-bottom: 1px solid rgba(white, 0.75);
  }
}

@mixin pagination {
  ul {
    padding-left:0;
    list-style:none;

    li {
      display:inline;
      font-style:italic;
      padding-right:0.5em;

      &.pagination_first,
      &.pagination_previous {
        &:after {
          content: " · ";
          color: $default-color-light;
          padding-left:0.5em;
        }
      }

      &.pagination_next,
      &.pagination_last {
        &:before {
          content: " · ";
          color: $default-color-light;
          padding-right:0.5em;
        }
      }

    }

    a {
      text-decoration:none;
    }
  }
}
@mixin splash-button {
  padding: 0 1em;
  margin: 0.5em 0.6em;
  line-height: 1em;
  font-style: italic;
  text-decoration: none;
  font-size: 1.25em;
  line-height: 1.4em;
  padding: 10px 15px;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  background-color: hsl(299, 17%, 28%) !important;
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#644765", endColorstr="#533b53");
  background-image: -khtml-gradient(linear, left top, left bottom, from(#644765), to(#533b53));
  background-image: -moz-linear-gradient(top, #644765, #533b53);
  background-image: -ms-linear-gradient(top, #644765, #533b53);
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #644765), color-stop(100%, #533b53));
  background-image: -webkit-linear-gradient(top, #644765, #533b53);
  background-image: -o-linear-gradient(top, #644765, #533b53);
  background-image: linear-gradient(#644765, #533b53);
  border-color: #533b53 #533b53 hsl(299, 17%, 26.5%);
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.09);
  -webkit-font-smoothing: antialiased;
}
